<div class="pet cotainer">
  <div class="pet-content w-100 pt-4">
    <div class="row w-100">
      <div class="col w-100">
        <div class="content-title align-items-center pb-3 d-flex flex-column">
          <span class="title-text fs-2 text-center fw-bold gradient-text-1">NHẬN NUÔI</span>
          <div class="title-slogan">
            <p>Nhận nuôi những thú cưng xinh xắn và mạnh khỏe của PETINI</p>
          </div>
          <img src="/assets/images/line.png" alt="">
        </div>
        <div class="content-items container">
          <div class="row">
            <!-- items -->
            <a href="#" title="Thuốc nhỏ gáy FRONTLINE trị ve rận trên mèo"
              class="col-lg-3 col-md-4 col-sm-6 col-12 pb-3 ">
              <div class="card p-2 ">
                <img src="/assets/images/pet-1.jpg" alt="Thuốc nhỏ gáy FRONTLINE trị ve rận trên mèo"
                  class="card-img-top item-img">
                <h5
                  class="card-title text-center fw-bold text-body text-capitalize item-text text-truncate d-flex align-items-center">
                  Mèo Anh Lông Ngắn
                </h5>
                <h6 class="card-text text-center ">Liên hệ</h6>
              </div>
            </a>
            <!-- items -->
            <a href="#" title="Thuốc nhỏ gáy FRONTLINE trị ve rận trên mèo"
              class="col-lg-3 col-md-4 col-sm-6 col-12 pb-3 ">
              <div class="card p-2 ">
                <img src="/assets/images/pet-2.jpg" alt="Thuốc nhỏ gáy FRONTLINE trị ve rận trên mèo"
                  class="card-img-top item-img">
                <h5
                  class="card-title text-center fw-bold text-body text-capitalize item-text text-truncate d-flex align-items-center">
                  chó poodle nâu
                </h5>
                <h6 class="card-text text-center ">Liên hệ</h6>
              </div>
            </a>
            <!-- items -->
            <a href="#" title="Thuốc nhỏ gáy FRONTLINE trị ve rận trên mèo"
              class="col-lg-3 col-md-4 col-sm-6 col-12 pb-3 ">
              <div class="card p-2 ">
                <img src="/assets/images/pet-3.jpg" alt="Thuốc nhỏ gáy FRONTLINE trị ve rận trên mèo"
                  class="card-img-top item-img">
                <h5
                  class="card-title text-center fw-bold text-body text-capitalize item-text text-truncate d-flex align-items-center">
                  chó alaska
                </h5>
                <h6 class="card-text text-center ">Liên hệ</h6>
              </div>
            </a>
            <!-- items -->
            <a routerLink="/Pet/PetDetail" title="Thuốc nhỏ gáy FRONTLINE trị ve rận trên mèo"
              class="col-lg-3 col-md-4 col-sm-6 col-12 pb-3 ">
              <div class="card p-2 ">
                <img src="/assets/images/pet-4.jpg" alt="Thuốc nhỏ gáy FRONTLINE trị ve rận trên mèo"
                  class="card-img-top item-img">
                <h5
                  class="card-title text-center fw-bold text-body text-capitalize item-text text-truncate d-flex align-items-center">
                  Mèo ba tư lông ngắn
                </h5>
                <h6 class="card-text text-center ">Liên hệ</h6>
              </div>
            </a>


          </div>

        </div>
      </div>
    </div>
  </div>
</div>
