<div class="items-content py-4">
  <div class="content-box">
    <div class="content row justify-content-between">
      <div class="col-md-7">
        <div class="img-fluid img-thumbnail rounded justify-content-center d-flex pt-2">
          <img src="/assets/images/thuoc.jpg">

        </div>
      </div>
      <div class="col-md-5 pe-1 ">
        <div class="content-left">
          <p class="m-0"></p>
          <span class="first-text">
            Thuốc nhỏ gáy FRONTLINE trị ve rận trên mèo
          </span>
          <span class="fs-4 price">120.000 &#8363;</span>
          <span class="second-text">
            'Điều Trị Bằng Trái Tim- Chăm Sóc Bằng Tấm Lòng "
          </span>
          <span class="second-text">Dịch vụ chăm sóc thú cưng PETINI luôn nỗ lực hoàn thiện và phát triển sự
            chuyên môn hoá bằng những
            cải tiến
            không ngừng nhằm giữ vững vị trí hàng đầu trong các lĩnh vực chăm sóc thú cưng. Đảm bảo một môi
            trường làm việc chuyên nghiệp, tận tâm tận tình và nhuyệt huyết .Với trang thiết bị hiện đại nhất
            hiện nay giúp chẩn đoán và điều trị dễ dàng</span>
          <span class="second-text"> Ngoài ra PETINI thường xuyên cập nhập những sản phẩm và chất lượng dịch vụ
            hàng đầu trong nước và
            ngoài nước tại PETINI để phục vụ cho việc những thú cưng và khách hàng có những trải nghiệm tuyệt
            vời nhất.
          </span>
          <div class="row w-100 value-items-box">
            <div class="col-4">
              <mat-form-field class="value-items w-100" appearance="outline">
                <mat-label>Số lượng</mat-label>
                <input matInput value="0" type="number" min="0">
              </mat-form-field>
            </div>
            <div class="col-8 pe-0">
              <button mat-raised-button color="primary">Thêm Vào Giỏ Hàng</button>
            </div>
          </div>



        </div>
      </div>


    </div>
  </div>
</div>


<div class="shop cotainer">
  <div class="shop-content w-100 pt-4">
    <div class="row w-100">
      <div class="col w-100">
        <div class="content-title align-items-center pb-3 d-flex flex-column">
          <span class="title-text fs-2 text-center fw-bold gradient-text-1">SẢN PHẨM</span>

          <img src="/assets/images/line.png" alt="">
        </div>
        <div class="content-items container">
          <div class="row">
            <!-- items -->
            <a routerLink="/Shop/Items" title="Thuốc nhỏ gáy FRONTLINE trị ve rận trên mèo"
              class="col-lg-3 col-md-4 col-sm-6 col-12 pb-3 ">
              <div class="card p-2 ">
                <img src="/assets/images/thuoc.jpg" alt="Thuốc nhỏ gáy FRONTLINE trị ve rận trên mèo"
                  class="card-img-top">
                <h5 class="card-title text-center fw-bold text-body">Thuốc nhỏ gáy FRONTLINE trị ve rận trên mèo
                </h5>
                <h6 class="card-text text-center ">120.000</h6>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
