<div class="items-content py-4 d-flex justify-content-center">
  <div class="content-box">
    <div class="content row justify-content-between mb-4">
      <div class="col-md-7">
        <div class=" justify-content-center d-flex pt-4">
          <img src="/assets/images/pet-1.jpg" class="  rounded img-fluid ">

        </div>
      </div>
      <div class="col-md-5 pe-1 ">
        <div class="content-left">
          <p class="m-0"></p>
          <span class="first-text">
            Mèo Anh Lông Ngắn
          </span>

          <span class="infor-text text-uppercase fs-4 fw-bolder  mb-2">
            thông tin
          </span>
          <div class="container">
            <p class="">
              <i class="fa-solid fa-paw"></i>
              <span class="ms-3 fs-5">Giống:   {{type}}</span>
            </p>
            <p class="">
              <i class="fa-solid fa-paw"></i>
              <span class="ms-3 fs-5">Màu Sắc:   {{type}}</span>
            </p>
            <p class="">
              <i class="fa-solid fa-paw"></i>
              <span class="ms-3 fs-5">Giới tính:   {{type}}</span>
            </p>
            <p class="">
              <i class="fa-solid fa-paw"></i>
              <span class="ms-3 fs-5">Tuổi:   {{type}}</span>
            </p>
            <p class="">
              <i class="fa-solid fa-paw"></i>
              <span class="ms-3 fs-5">Nguồn gốc:   {{type}}</span>
            </p>

          </div>
          <span class="fs-4 price">Liên hệ</span>




        </div>
      </div>


    </div>
    <div class="container w-100 justify-content-center">
      <div class=" img-thumbnail rounded justify-content-center d-flex p-4 mb-4">
        <img class="img-fluid rounded" src="/assets/images/pet-1.jpg">
      </div>

    </div>
  </div>
</div>


<div class="shop cotainer">
  <div class="shop-content w-100 pt-4">
    <div class="row w-100">
      <div class="col w-100">
        <div class="content-title align-items-center pb-3 d-flex flex-column">
          <span class="title-text fs-2 text-center fw-bold gradient-text-1 text-uppercase">Nhận nuôi</span>

          <img  src="/assets/images/line.png" alt="">
        </div>
        <div class="content-items container">
          <div class="row">
            <!-- items -->
            <a href="#" title="Thuốc nhỏ gáy FRONTLINE trị ve rận trên mèo"
              class="col-lg-3 col-md-4 col-sm-6 col-12 pb-3 ">
              <div class="card p-2 ">
                <img src="/assets/images/pet-1.jpg" alt="Thuốc nhỏ gáy FRONTLINE trị ve rận trên mèo"
                  class="card-img-top item-img">
                <h5
                  class="card-title text-center fw-bold text-body text-capitalize item-text text-truncate d-flex align-items-center">
                  Mèo Anh Lông Ngắn
                </h5>
                <h6 class="card-text text-center ">Liên hệ</h6>
              </div>
            </a>
            <!-- items -->
            <a href="#" title="Thuốc nhỏ gáy FRONTLINE trị ve rận trên mèo"
              class="col-lg-3 col-md-4 col-sm-6 col-12 pb-3 ">
              <div class="card p-2 ">
                <img src="/assets/images/pet-2.jpg" alt="Thuốc nhỏ gáy FRONTLINE trị ve rận trên mèo"
                  class="card-img-top item-img">
                <h5
                  class="card-title text-center fw-bold text-body text-capitalize item-text text-truncate d-flex align-items-center">
                  chó poodle nâu
                </h5>
                <h6 class="card-text text-center ">Liên hệ</h6>
              </div>
            </a>
            <!-- items -->
            <a href="#" title="Thuốc nhỏ gáy FRONTLINE trị ve rận trên mèo"
              class="col-lg-3 col-md-4 col-sm-6 col-12 pb-3 ">
              <div class="card p-2 ">
                <img src="/assets/images/pet-3.jpg" alt="Thuốc nhỏ gáy FRONTLINE trị ve rận trên mèo"
                  class="card-img-top item-img">
                <h5
                  class="card-title text-center fw-bold text-body text-capitalize item-text text-truncate d-flex align-items-center">
                  chó alaska
                </h5>
                <h6 class="card-text text-center ">Liên hệ</h6>
              </div>
            </a>
            <!-- items -->
            <a href="#" title="Thuốc nhỏ gáy FRONTLINE trị ve rận trên mèo"
              class="col-lg-3 col-md-4 col-sm-6 col-12 pb-3 ">
              <div class="card p-2 ">
                <img src="/assets/images/pet-4.jpg" alt="Thuốc nhỏ gáy FRONTLINE trị ve rận trên mèo"
                  class="card-img-top item-img">
                <h5
                  class="card-title text-center fw-bold text-body text-capitalize item-text text-truncate d-flex align-items-center">
                  Mèo ba tư lông ngắn
                </h5>
                <h6 class="card-text text-center ">Liên hệ</h6>
              </div>
            </a>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
