<section class="vh-100 page">
  <div class="login container  h-100 py-5">
    <div class="login-row row mt-3 ">
      <div class="login-col col-11 col-md-8 col-lg-7 col-xl-6">
        <div class="login-card card rounded h-100 border-0">
          <div class="login-card-body card-body text-center">
            <div class="login-icon">
              <a routerLink="/Home"><img src="/assets/images/logo.png"> </a>
            </div>
            <div class="login-text">
              <h2>Sign In | Petini</h2>
            </div>

            <form (ngSubmit)="login()">
              <div class="login-input">
                <div class="username">
                  <mat-form-field class="input-username w-100" appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput type="text" required="Please Enter Username" [formControl]="usernameFormControl"
                      [errorStateMatcher]="matcher" name="txtUsername">
                    <mat-icon matPrefix><i class="fa-solid fa-user"></i></mat-icon>
                    <mat-error *ngIf="usernameFormControl.hasError('required')">
                      Username is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="password">
                  <mat-form-field class="input-password w-100" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" name="txtPassword" [formControl]="passwordFormControl" formControlName="control"
                      [errorStateMatcher]="matcher" required="Please Enter Password"
                      [type]="hide ? 'password' : 'text'">
                    <mat-icon matPrefix><i class="fa-solid fa-key"></i></mat-icon>
                    <button type="button" class="border-0 bg-body " mat-icon-button matSuffix (click)="hide = !hide"
                      [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon matSuffix>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="passwordFormControl.hasError('required')">
                      Password is <strong>required</strong>
                    </mat-error>

                  </mat-form-field>
                </div>
              </div>
              <div class="text-center pt-1  pb-1 login-button-div">
                <button class="login-button btn btn-primary btn-block w-100 fa-lg gradient-custom-2 mb-3"
                  mat-raised-button type="submit">
                  Log in</button>
              </div>
            </form>

            <hr class="my-4">
            <span ><a routerLink="/Register">Create new account</a> </span>
            <!--<button class="gmail-button btn btn-lg btn-block btn-primary w-100 " style="background-color: #dd4b39;"
            mat-raised-button><i class="fab fa-google me-2"></i> Sign in with Google</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
