<div class="shop cotainer">
  <div class="shop-content w-100 pt-4">
    <div class="row w-100">
      <div class="col w-100">
        <div class="content-title align-items-center pb-3 d-flex flex-column">
          <span class="title-text fs-2 text-center fw-bold gradient-text-1">SẢN PHẨM</span>
          <div class="title-slogan">
            <p>Trải nghiệm tốt những sản phẩm của PETINI</p>
          </div>
          <img src="/assets/images/line.png" alt="">
        </div>
        <div class="content-items container">
          <div class="row">
            <!-- items -->
            <a routerLink="/Shop/Items" title="Đồ Ăn Chó Cho Chó Con SmartHeart Power Pack 1kg"
              class="col-lg-3 col-md-4 col-sm-6 col-12 pb-3 ">
              <div class="card p-2 ">
                <img src="/assets/images/item-1.jpg" alt="Đồ Ăn Chó Cho Chó Con SmartHeart Power Pack 1kg"
                  class="card-img-top item-img">
                <h5 class="card-title text-center fw-bold text-body text-capitalize item-text ">Đồ Ăn Chó Cho Chó Con
                  SmartHeart Power Pack 1kg
                </h5>
                <h6 class="card-text text-center ">100.000</h6>
              </div>
            </a>
            <!-- items -->
            <a routerLink="/Shop/Items" title="Thức Ăn Cho Mèo Royal Canin Mother & Babycat 400gr"
              class="col-lg-3 col-md-4 col-sm-6 col-12 pb-3 ">
              <div class="card p-2 ">
                <img src="/assets/images/item-2.jpg" alt="Thức Ăn Cho Mèo Royal Canin Mother & Babycat 400gr"
                  class="card-img-top item-img">
                <h5 class="card-title text-center fw-bold text-body text-capitalize item-text ">thức ăn cho mèo royal
                  canin mother & babycat 400gr
                </h5>
                <h6 class="card-text text-center ">110.000</h6>
              </div>
            </a>
            <!-- items -->
            <a routerLink="/Shop/Items" title="Thức ăn cho chó ROYAL CANIN Medium Adult 1KG"
              class="col-lg-3 col-md-4 col-sm-6 col-12 pb-3 ">
              <div class="card p-2 ">
                <img src="/assets/images/item-3.jpg" alt="Thức ăn cho chó ROYAL CANIN Medium Adult 1KG"
                  class="card-img-top item-img">
                <h5 class="card-title text-center fw-bold text-body text-capitalize item-text ">Thức ăn cho chó ROYAL
                  CANIN Medium Adult 1KG
                </h5>
                <h6 class="card-text text-center ">155.000</h6>
              </div>
            </a>
            <!-- items -->
            <a routerLink="/Shop/Items" title="Thức Ăn Cho Mèo SEAFOOD Adult 1.2kg"
              class="col-lg-3 col-md-4 col-sm-6 col-12 pb-3 ">
              <div class="card p-2 ">
                <img src="/assets/images/item-4.png" alt="Thức Ăn Cho Mèo SEAFOOD Adult 1.2kg"
                  class="card-img-top item-img">
                <h5 class="card-title text-center fw-bold text-body text-capitalize item-text">Thức Ăn Cho Mèo SEAFOOD
                  Adult 1.2kg
                </h5>
                <h6 class="card-text text-center ">130.000</h6>
              </div>
            </a>


          </div>

        </div>
      </div>
    </div>
  </div>
</div>
