<!-- First content -->
<div class="first-content vh-100">
  <img class="w-100 h-100" src="/assets/images/img-1.png" alt="">
  <div class="content-container h-100">
  </div>
</div>
<!-- Second content -->
<div class="second-content pb-5">
  <img class="img-cat" src="/assets/images/img-2.png">
  <div class="content-box">
    <div class="content row justify-content-between">
      <div class="col-md-7">
        <div class="content-right w-100">
          <div id="carouselBasicExample" class="carousel slide carousel-fade w-100 h-100" data-mdb-ride="carousel">
            <!-- Indicators -->
            <div class="carousel-indicators">
              <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="2"
                aria-label="Slide 3"></button>
            </div>

            <!-- Inner -->
            <div class="carousel-inner h-100 w-100">
              <!-- Single item -->
              <div class="carousel-item active">
                <img src="/assets/images/img-3.png" class="d-block w-100 h-100" alt="..." />

              </div>

              <!-- Single item -->
              <div class="carousel-item">
                <img src="/assets/images/img-4.png" class="d-block w-100 h-100" alt="..." />

              </div>

              <!-- Single item -->
              <div class="carousel-item">
                <img src="/assets/images/img-5.jpg" class="d-block w-100 h-100" alt="..." />

              </div>
            </div>
            <!-- Inner -->

            <!-- Controls -->
            <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample"
              data-mdb-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample"
              data-mdb-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

        </div>
      </div>
      <div class="col-md-5 pe-1 ">
        <div class="content-left">
          <p class="m-0">WELCOME TO </p>
          <span class="first-text">
            PETINI
          </span>
          <span class="second-text">
            'Điều Trị Bằng Trái Tim- Chăm Sóc Bằng Tấm Lòng "
          </span>
          <span class="second-text">Dịch vụ chăm sóc thú cưng PETINI luôn nỗ lực hoàn thiện và phát triển sự
            chuyên môn hoá bằng những
            cải tiến
            không ngừng nhằm giữ vững vị trí hàng đầu trong các lĩnh vực chăm sóc thú cưng. Đảm bảo một môi
            trường làm việc chuyên nghiệp, tận tâm tận tình và nhuyệt huyết .Với trang thiết bị hiện đại nhất
            hiện nay giúp chẩn đoán và điều trị dễ dàng</span>
          <span class="second-text"> Ngoài ra PETINI thường xuyên cập nhập những sản phẩm và chất lượng dịch vụ
            hàng đầu trong nước và
            ngoài nước tại PETINI để phục vụ cho việc những thú cưng và khách hàng có những trải nghiệm tuyệt
            vời nhất.
          </span>


        </div>
      </div>


    </div>
  </div>
</div>

<!-- third content -->
<div class="third-content w-100 pt-4">
  <div class="row w-100">
    <div class="col w-100">
      <div class="content-title align-items-center pb-3 d-flex flex-column">
        <span class="title-text fs-2 text-center fw-bold gradient-text-1">SẢN PHẨM NỔI BẬT</span>
        <div class="title-slogan">
          <p>Trải nghiệm tốt những sản phẩm của PETINI</p>
        </div>
        <img class="img-line" src="/assets/images/line.png" alt="">
      </div>
      <div class="content-items container">
        <div class="row">
          <!-- items -->
          <a routerLink="/Shop/Items" title="Đồ Ăn Chó Cho Chó Con SmartHeart Power Pack 1kg"
            class="col-lg-3 col-md-4 col-sm-6 col-12 pb-3 ">
            <div class="card p-2 ">
              <img src="/assets/images/item-1.jpg" alt="Đồ Ăn Chó Cho Chó Con SmartHeart Power Pack 1kg"
                class="card-img-top item-img">
              <h5 class="card-title text-center fw-bold text-body text-capitalize item-text ">Đồ Ăn Chó Cho Chó Con
                SmartHeart Power Pack 1kg
              </h5>
              <h6 class="card-text text-center ">100.000</h6>
            </div>
          </a>
          <!-- items -->
          <a routerLink="/Shop/Items" title="Thức Ăn Cho Mèo Royal Canin Mother & Babycat 400gr"
            class="col-lg-3 col-md-4 col-sm-6 col-12 pb-3 ">
            <div class="card p-2 ">
              <img src="/assets/images/item-2.jpg" alt="Thức Ăn Cho Mèo Royal Canin Mother & Babycat 400gr"
                class="card-img-top item-img">
              <h5 class="card-title text-center fw-bold text-body text-capitalize item-text ">thức ăn cho mèo royal
                canin mother & babycat 400gr
              </h5>
              <h6 class="card-text text-center ">110.000</h6>
            </div>
          </a>
          <!-- items -->
          <a routerLink="/Shop/Items" title="Thức ăn cho chó ROYAL CANIN Medium Adult 1KG"
            class="col-lg-3 col-md-4 col-sm-6 col-12 pb-3 ">
            <div class="card p-2 ">
              <img src="/assets/images/item-3.jpg" alt="Thức ăn cho chó ROYAL CANIN Medium Adult 1KG"
                class="card-img-top item-img">
              <h5 class="card-title text-center fw-bold text-body text-capitalize item-text ">Thức ăn cho chó ROYAL
                CANIN Medium Adult 1KG
              </h5>
              <h6 class="card-text text-center ">155.000</h6>
            </div>
          </a>
          <!-- items -->
          <a routerLink="/Shop/Items" title="Thức Ăn Cho Mèo SEAFOOD Adult 1.2kg"
            class="col-lg-3 col-md-4 col-sm-6 col-12 pb-3 ">
            <div class="card p-2 ">
              <img src="/assets/images/item-4.png" alt="Thức Ăn Cho Mèo SEAFOOD Adult 1.2kg"
                class="card-img-top item-img">
              <h5 class="card-title text-center fw-bold text-body text-capitalize item-text">Thức Ăn Cho Mèo SEAFOOD
                Adult 1.2kg
              </h5>
              <h6 class="card-text text-center ">130.000</h6>
            </div>
          </a>


        </div>
        <div class="btn-more d-flex justify-content-center mb-3">
          <div>
            <button mat-raised-button routerLink="/Shop"
              class="btn-register btn btn-primary btn-block fa-lg gradient-custom-2 ">Xem thêm </button>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- four content -->
<div class="third-content w-100 pt-4 bg-2">
  <div class="row w-100">
    <div class="col w-100">
      <div class="content-title align-items-center pb-3 d-flex flex-column">
        <span class="title-text fs-2 text-center fw-bold gradient-text-1">DỊCH VỤ NỔI BẬT</span>
        <div class="title-slogan">
          <p>Trải nghiệm tốt những dịch vụ tót của PETINI</p>
        </div>
        <img class="img-line" src="/assets/images/line.png" alt="">
      </div>
      <div class="content-items container">
        <div class="row">
          <!-- items -->
          <a href="#" title="Tắm rửa thú cưng" class="col-lg-3 col-md-4 col-sm-6 col-12 pb-3 ">
            <div class="card p-2 ">
              <img src="/assets/images/service-1.jpg" alt="Tắm rửa thú cưng" class="card-img-top item-img">
              <h6
                class="card-text text-center fw-bold text-body text-capitalize item-text text-truncate d-flex align-items-center">
                Tắm rửa thú cưng</h6>

            </div>
          </a>
          <!-- items -->
          <a href="#" title="Tắm rửa thú cưng" class="col-lg-3 col-md-4 col-sm-6 col-12 pb-3 ">
            <div class="card p-2 ">
              <img src="/assets/images/service-4.jpeg" alt="Tắm rửa thú cưng" class="card-img-top item-img">
              <h6
                class="card-text text-center fw-bold text-body text-capitalize item-text text-truncate d-flex align-items-center">
                Cắt tỉa lông thú cưng</h6>

            </div>
          </a>
          <!-- items -->
          <a href="#" title="Tắm rửa thú cưng" class="col-lg-3 col-md-4 col-sm-6 col-12 pb-3 ">
            <div class="card p-2 ">
              <img src="/assets/images/service-3.jpg" alt="Tắm rửa thú cưng" class="card-img-top item-img">
              <h6
                class="card-text text-center fw-bold text-body text-capitalize item-text text-truncate d-flex align-items-center">
                Vệ sinh tai thú cưng</h6>

            </div>
          </a>
          <!-- items -->
          <a href="#" title="Tắm rửa thú cưng" class="col-lg-3 col-md-4 col-sm-6 col-12 pb-3 ">
            <div class="card p-2 ">
              <img src="/assets/images/service-2.png" alt="Tắm rửa thú cưng" class="card-img-top item-img">
              <h6
                class="card-text text-center fw-bold text-body text-capitalize item-text text-truncate d-flex align-items-center">
                Cắt móng, răng thú cưng </h6>

            </div>
          </a>


        </div>
        <div class="btn-more d-flex justify-content-center mb-3">
          <div>
            <button mat-raised-button routerLink="/Service"
              class="btn-register btn btn-primary btn-block fa-lg gradient-custom-2 ">Xem thêm </button>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- five content -->
<div class="third-content w-100 pt-4">
  <div class="row w-100">
    <div class="col w-100">
      <div class="content-title align-items-center pb-3 d-flex flex-column">
        <span class="title-text fs-2 text-center fw-bold gradient-text-1">NHẬN NUÔI THÚ CƯNG</span>
        <div class="title-slogan">
          <p>Trải nghiệm tốt những thú cưng của PETINI</p>
        </div>
        <img class="img-line " src="/assets/images/line.png" alt="">
      </div>
      <div class="content-items container">
        <div class="row">
          <!-- items -->
          <a href="#" title="Thuốc nhỏ gáy FRONTLINE trị ve rận trên mèo"
            class="col-lg-3 col-md-4 col-sm-6 col-12 pb-3 ">
            <div class="card p-2 ">
              <img src="/assets/images/pet-1.jpg" alt="Thuốc nhỏ gáy FRONTLINE trị ve rận trên mèo"
                class="card-img-top item-img">
              <h5
                class="card-title text-center fw-bold text-body text-capitalize item-text text-truncate d-flex align-items-center">
                Mèo Anh Lông Ngắn
              </h5>
              <h6 class="card-text text-center ">Liên hệ</h6>
            </div>
          </a>
          <!-- items -->
          <a href="#" title="Thuốc nhỏ gáy FRONTLINE trị ve rận trên mèo"
            class="col-lg-3 col-md-4 col-sm-6 col-12 pb-3 ">
            <div class="card p-2 ">
              <img src="/assets/images/pet-2.jpg" alt="Thuốc nhỏ gáy FRONTLINE trị ve rận trên mèo"
                class="card-img-top item-img">
              <h5
                class="card-title text-center fw-bold text-body text-capitalize item-text text-truncate d-flex align-items-center">
                chó poodle nâu
              </h5>
              <h6 class="card-text text-center ">Liên hệ</h6>
            </div>
          </a>
          <!-- items -->
          <a href="#" title="Thuốc nhỏ gáy FRONTLINE trị ve rận trên mèo"
            class="col-lg-3 col-md-4 col-sm-6 col-12 pb-3 ">
            <div class="card p-2 ">
              <img src="/assets/images/pet-3.jpg" alt="Thuốc nhỏ gáy FRONTLINE trị ve rận trên mèo"
                class="card-img-top item-img">
              <h5
                class="card-title text-center fw-bold text-body text-capitalize item-text text-truncate d-flex align-items-center">
                chó alaska
              </h5>
              <h6 class="card-text text-center ">Liên hệ</h6>
            </div>
          </a>
          <!-- items -->
          <a href="#" title="Thuốc nhỏ gáy FRONTLINE trị ve rận trên mèo"
            class="col-lg-3 col-md-4 col-sm-6 col-12 pb-3 ">
            <div class="card p-2 ">
              <img src="/assets/images/pet-4.jpg" alt="Thuốc nhỏ gáy FRONTLINE trị ve rận trên mèo"
                class="card-img-top item-img">
              <h5
                class="card-title text-center fw-bold text-body text-capitalize item-text text-truncate d-flex align-items-center">
                Mèo ba tư lông ngắn
              </h5>
              <h6 class="card-text text-center ">Liên hệ</h6>
            </div>
          </a>


        </div>
        <div class="btn-more d-flex justify-content-center mb-3">
          <div>
            <button mat-raised-button routerLink="/Pet"
              class="btn-register btn btn-primary btn-block fa-lg gradient-custom-2 ">Xem thêm </button>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
