.gradient-custom-2 {
  /* fallback for old browsers */
  background: rgb(238, 42, 123) 0%;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgb(238, 42, 123) 0%, rgb(255, 125, 184) 100%);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgb(238, 42, 123) 0%, rgb(255, 125, 184) 100%);
}

.gradient-text-1 {
  background: rgb(238, 42, 123) 0%;
  background: linear-gradient(to right, rgb(238, 42, 123) 0%, rgb(255, 125, 184) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-register {
  color: white !important;
  font-weight: 500;
}

.li-login {

  border-radius: 5px;
  width: fit-content;

  button {
    color: rgb(1, 148, 243);
    font-family: MuseoSans, Roboto, sans-serif !important;
    font-size: 20px;
    letter-spacing: 0.7px;
    font-weight: 500;

  }
}

.logo {
  width: 80px;
}

.logo-text {
  letter-spacing: 7px;
  font-weight: 500;

}




.first-content {
  overflow: hidden;
  position: relative;

  img {

    object-fit: fill;


  }

  .content-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;


  }
}

.second-content {
  background: url(/assets/images/bg-1.png);
  position: relative;
  width: 100%;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: top;

  .img-cat {
    bottom: -36px;
    position: absolute;
    max-width: 100%;
    height: auto;
    border-style: none;
  }

  .content-box {
    width: 100%;
    max-width: 1300px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 36px;

    .content {
      justify-content: space-between;
      align-items: center;

      .content-left {

        align-items: flex-start;
        padding: 32px 0px;
        display: flex;
        flex-direction: column;
        position: relative;

        .first-text {
          letter-spacing: 7px;

          background: rgb(238, 42, 123) 0%;
          background: linear-gradient(to right, rgb(238, 42, 123) 0%, rgb(255, 125, 184) 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          margin-bottom: 16px;
          font-size: 48px;
          font-weight: 500;
          font-family: MuseoSans, Roboto, sans-serif !important;
        }

        .second-text {
          margin-bottom: 16px;
          font-size: 16px;
          font-family: MuseoSans, Roboto, sans-serif !important;
        }

        .content-graphic {
          position: absolute;
          right: -46px;
          top: -18px;
          width: 230px;
          height: 230px;
          z-index: -1;
          border-radius: 50%;
          // background:  linear-gradient(to right, #FEF001db, #FFCE03db, #F2B104db, #F59E02db, #F79101db,  #F68002db,#FD6104db, #FD6104db);
          background: linear-gradient(to right, #FEF001, #FFCE03, #F2B104);
        }

      }

      .content-right {
        border-radius: 30px;
        overflow: hidden;
        height: 270px;
        display: flex;
        object-fit: contain;
        margin: 32px 0px;

        .carousel-item {
          img {
            min-height: 270px;
            max-height: 270px;
          }
        }
      }
    }
  }
}


.item-img {
  min-height: 290px;
  max-height: 290px;
  width: 100%;
}

.item-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 48px;
  min-height: 48px;
  justify-content: center;
}



.img-line{
  max-height:  38px;
  min-height:  38px;
}
.bg-2 {
  background-image: url(/assets/images/bg-2.png);
}




.r-c-8 {
  margin-left: 6px;
}

.c-m-6-left {
  padding-left: 0 !important;
  padding-right: 6px !important;
}

.c-m-6-right {
  padding-left: 6px !important;
  padding-right: 0 !important;
}
